body{
    background-color: #f5f5f5;
}
.Container_inicial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;
    margin: 10px;
    padding: 0;
    height: 30px;
}

.Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: red;
    
}

.Opção{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.ButtonSearch{
    display: flex;
    justify-content: space-around;
    align-items: left;
    border-radius: 15px;
}

.Sub_Container{
    display: flex;
    justify-items: center;
    margin:30px 15px;
}

.Banner{
    display: flex;
    align-items:left;
    justify-content: space-around;
    margin: 30px;
}

.Container_card{
    display: flex;
    justify-items: center;
    align-items: left;
    margin: 10px;
    padding: 2px 16px;
}
.card{

    margin:30px;
}

.ContainerFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: red;
    font-family: Arial, Helvetica, sans-serif;
}
.SubContainerFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3{
   font-size: 20px;
   font-weight: 700;
   color: black;
}










